In [2]:
import numpy as np
import pandas as pd

In [7]:
labels = ['a','b','c']
mylist=[10,20,30]
arr = np.array(mylist)
d = {'a':10,'b':20,'c':30}

In [8]:
pd.Series(data=mylist)

0    10
1    20
2    30
dtype: int64

In [10]:
pd.Series(data=arr,index=labels)

a    10
b    20
c    30
dtype: int64

In [11]:
ser1 = pd.Series([1,2,3,4],['USA','Germany','CZ','Norway'])

In [13]:
ser1['USA']

1

In [14]:
ser2 = pd.Series([1,3,4,7],['USA','Germany','Sweden','Norway'])

In [15]:
ser1+ser2

CZ          NaN
Germany     5.0
Norway     11.0
Sweden      NaN
USA         2.0
dtype: float64

In [16]:
np.random.seed(101)
rand_mat = np.random.randn(5,4)

In [17]:
rand_mat

array([[ 2.70684984,  0.62813271,  0.90796945,  0.50382575],
       [ 0.65111795, -0.31931804, -0.84807698,  0.60596535],
       [-2.01816824,  0.74012206,  0.52881349, -0.58900053],
       [ 0.18869531, -0.75887206, -0.93323722,  0.95505651],
       [ 0.19079432,  1.97875732,  2.60596728,  0.68350889]])

In [20]:
df = pd.DataFrame(rand_mat,index='A B C D E'.split())

In [21]:
df

          0         1         2         3
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509