# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [ ]:
def lesser_of_two_evens(a,b):
    pass

In [ ]:
# Check
lesser_of_two_evens(2,4)

In [ ]:
# Check
lesser_of_two_evens(2,5)

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [ ]:
def animal_crackers(text):
    pass

In [ ]:
# Check
animal_crackers('Levelheaded Llama')

In [ ]:
# Check
animal_crackers('Crazy Kangaroo')

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [ ]:
def makes_twenty(n1,n2):
    pass

In [ ]:
# Check
makes_twenty(20,10)

In [ ]:
# Check
makes_twenty(2,3)

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [ ]:
def old_macdonald(name):
    pass

In [ ]:
# Check
old_macdonald('macdonald')

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [109]:
def master_yoda(text):
    words=text.split()
    words.reverse()
    return ' '.join(words)

In [110]:
# Check
master_yoda('I am home')

'home am I'

In [111]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [120]:
def almost_there(n):
    return ((abs(100-n)<=10)) or ((abs(200-n)<=10))

In [126]:
(1-10)

-9

In [122]:
# Check
almost_there(104)

True

In [123]:
# Check
almost_there(150)

True

In [124]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [131]:
def has_33(nums):
    index=0
    while index<len(nums)-1:
        if nums[index:index+2]==[3,3]:
            return True
        index+=1
    return False

In [132]:
# Check
has_33([1, 3, 3])

True

In [133]:
# Check
has_33([1, 3, 1, 3])

False

In [134]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [141]:
def paper_doll(text):
    triplestring=''
    for let in list(text):
        triplestring=triplestring+3*let
    return triplestring

In [142]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [143]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [153]:
def blackjack(a,b,c):
    if (a+b+c)<=21:
        return (a+b+c)
    elif (a+b+c)>21:
        if 11 in (a,b,c):
            return (a+b+c)-10
        else:
            return 'BUST'

In [154]:
# Check
blackjack(5,6,7)

18

In [155]:
# Check
blackjack(9,9,9)

'BUST'

In [156]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [168]:
def summer_69(arr):
    skip=False
    sumnum=0
    for num in arr:
        if num==6:
            skip=True
        if skip==False:
            sumnum+=num
        if num==9:
            skip=False
    return sumnum

In [172]:
# Check
summer_69([])

0

In [170]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [171]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [217]:
def spy_game(nums):
    lookingfor=[0,0,7]
    for num in nums:
        if num==lookingfor[0]:
            if lookingfor.pop(0)==7:
                break
    return len(lookingfor)==0

In [218]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [219]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [220]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [257]:
def count_primes(num):
    if num<2:
        return 0
    primes=[2]
    for number in list(range(3,num,2)):
        indexn=2
        while indexn<number:
            if number%indexn==0:
                break
            indexn+=1
        else:
            primes.append(number) 
    print(primes)
    return len(primes)

In [258]:
list(range(0,6,2))

[0, 2, 4]

In [259]:
# Check
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
def print_big(letter):
    pass

In [ ]:
print_big('a')

## Great Job!