In [1]:
if True:
    print('yo')

yo

In [5]:
statement=True

if statement:
    print('yo')
else:
    print('noyo')

yo

In [7]:
loc='Bank'

if loc=='Auto Shop':
    print("cars are cool")
elif loc=='Bank':
    print("youre in the bank")
else:
    print("yooo")

youre in the bank

In [10]:
my_iter={'k1':1,'k2':2,'k3':3}
for item_name in my_iter:
    print(my_iter[item_name])

1
2
3

In [12]:
numbers = [1,2,3,4,5]
for num in numbers:
    if num%2==0:
        print("{} sudé".format(num))
    else:
        print("{} liché".format(num))

1 liché
2 sudé
3 liché
4 sudé
5 liché

In [15]:
list_sum=0
for num in numbers:
    list_sum=list_sum+num
    print(list_sum)

1
3
6
10
15

In [16]:
for letter in "Hello":
    print(letter)

H
e
l
l
o

In [17]:
tup=(1,2,3)
for t in tup:
    print(t)

1
2
3

In [18]:
list_tup = [(1,2),(3,4),(5,6),(7,8)]

In [19]:
len(list_tup)

4

In [20]:
for item in list_tup:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [21]:
for (a,b) in list_tup:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [23]:
for a,b in list_tup:
    print(a)

1
3
5
7

In [24]:
d={'k1':1,'k2':2,'k3':3}
for key,value in d.items():
    print(value)

1
2
3

In [5]:
a=20
while a<5:
    print(f"Hodnota a je {a}")
    a+=1
else:
    print("nic")

nic

In [8]:
x=[1,2,3]
for item in x:
    pass

In [11]:
mystring="Sammy"
for letter in mystring:
    if letter=="a":
        continue
    print(letter)

S
m
m
y

In [13]:
abc=0
while abc<5:
    if abc==2:
        break
    print(abc)
    abc+=1

0
1

In [20]:
for num in range(3,10,2):
    print(num)

3
5
7
9

In [21]:
list(range(3,10,2))

[3, 5, 7, 9]

In [22]:
index_count=0
for letter in 'abcde':
    print(f"blbla {letter, index_count}")
    index_count+=1

blbla ('a', 0)
blbla ('b', 1)
blbla ('c', 2)
blbla ('d', 3)
blbla ('e', 4)

In [32]:
for letter,index in enumerate('word'):
    print(letter,index)

0 w
1 o
2 r
3 d

In [35]:
mylist1=[1,2,3]
mylist2=['a','b','c']

In [36]:
for item in zip(mylist1,mylist2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [37]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [38]:
'x' in [1,2,3]

False

In [40]:
'x' in "kamsmdaksmdkmaksmkmkasmk"

False

In [41]:
min(mylist1)

1

In [42]:
from random import shuffle

In [43]:
mylist=[1,2,3,4,5,6]

In [44]:
shuffle(mylist)

In [45]:
mylist

[3, 4, 1, 2, 6, 5]

In [46]:
from random import randint

In [56]:
randint(10,200)

162

In [59]:
result = input('Enter a number: ')

Enter a number: sdmksmd

In [60]:
type(result)

str

In [61]:
mystring="Hello"

In [62]:
mylist=[]
for letter in mystring:
    mylist.append(letter)

In [63]:
mylist

['H', 'e', 'l', 'l', 'o']

In [64]:
mylist=[letter for letter in mystring]

In [65]:
mylist

['H', 'e', 'l', 'l', 'o']

In [70]:
xlist=[num**2 for num in range(1,10)]
xlist

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [71]:
xlist=[num for num in range(1,10) if num%2==0]
xlist

[2, 4, 6, 8]

In [72]:
celsius=[0,10,20,34.5]
farenheit_to_celsius=[((9/5)*temp+32) for temp in celsius]

In [73]:
farenheit_to_celsius

[32.0, 50.0, 68.0, 94.1]

In [74]:
results=[x if x%2==0 else 'ODD' for x in range(0,11)]
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [75]:
mylist=[]
for x in [2,4,6]:
    for y in [100,200,300]:
        mylist.append(x*y)
        
mylist

[200, 400, 600, 400, 800, 1200, 600, 1200, 1800]

In [76]:
mylist=[x*y for x in [2,4,6] for y in [1,10,100]]
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]